@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400&family=Roboto:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;  
}

